<div class="main-page">

        <div class="section" *ngIf="showStep(stepCar)">
                <button mat-raised-button
                color="primary"
                (click)="addCarCard()">Выбрать авто</button>

                <div *ngIf="carInput">
                <p>{{carInput.producer}} {{carInput.name}} {{carInput.year}}, Пробег: {{carInput.kilometrage}} км</p>
                </div>
        </div>

        <div class="section" *ngIf="showStep(stepDetail)">
                <button mat-raised-button
                color="primary"
                (click)="addDetails()">Что будем менять?</button>

                <div *ngIf="timePeriod">
                        <p>Время обслуживания - {{timePeriod}} ч.</p>
                </div>

                <div *ngIf="details">
                        <div *ngFor="let detail of details">
                                <p>{{detail.detailName}} - {{detail.count}} {{detail.unitName}}</p>
                        </div>
                </div>
        </div>

        <div class="section" *ngIf="showStep(stepRepairShop)">
                <button mat-raised-button
                color="primary"
                (click)="addRepairShop()">Выбрать автомастерскую</button>

                <div *ngIf="repairShopInput">
                <p>{{repairShopInput.repairShopName}} {{repairShopInput.date | date: 'dd.MM.yyyy HH.mm'}}</p>
                </div>
        </div>

        <div class="section" *ngIf="showStep(stepPhone)">
                <button mat-raised-button
                color="primary"
                (click)="addPhone()">Ввести номер телефона</button>

                <div *ngIf="user">
                        <p>{{user.name}} {{user.phone}}</p>
                </div>

        </div>

        <div class="section" *ngIf="showStep(stepOrder)">
                <button mat-raised-button
                color="primary"
                (click)="addOrder()">Оформить заказ</button>
        </div>

</div>
